.about-us-left {
    background-color: rgb(245, 245, 245);
    padding: 50px;
}

.about-us-left h3 {
    font-size: 17px;
    border-bottom: 1.25px solid rgb(218, 218, 218);
    padding-bottom: 10px;
}

.about-us-left p {
    text-align: justify;
    text-indent: 20px;
    font-size: 15px;
    line-height: 28px;
    padding: 15px;

}

.about-us-left a {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    padding: 5px 10px;
    float: left;
    transition: all 0.25s;
    font-size: 14px;
}

.about-us-left a:hover {
    background-color: var(--hover-button-color);
    border-radius: 0 8px 0 8px;
}

@media only screen and (max-width:992px)
{
    .about-us-left p {
        font-size: 13px;
        line-height: 24px;
    }

    .about-us-left a{
        font-size: 13px;
    }
}