
.article-wrapper {
    background-image: url('../img/color-bg.png');
    min-height: 700px;
    background-repeat: no-repeat;
    background-position: center;
}

.article-wrapper .card-header img {
    overflow: hidden;
    transition: 0.5s linear;
}

.article-wrapper .card:hover img {
    transform: rotate(10deg) scale(1.25);
}

.article-wrapper .card-body .post-data {
    top: -25px;
    right: 20px;
    width: 35px;
    text-align: center;
    font-size: 14px;
    padding: 3px;
}

.article-wrapper .card-body .post-data div:first-child {
    background-color: var(--primary-color);
}

.article-wrapper .card-body .post-data div:last-child {
    background-color: var(--third-color);
    color: var(--secondary-color);
    opacity: 0.5;
}

.article-wrapper .card-body a {
    color: var(--secondary-color);
    display: inline-block;
    padding: 10px;
}

.article-wrapper .card-body p {
    color: var(--primary-color);
    text-align: justify;
    padding: 0 10px 20px;
}

.article-wrapper .footer
{
    text-align: center;
    background-color: var(--bg-card-body-color);
    border-top: 1px solid #efefef3d;
    padding: 7px 0;
}
.article-wrapper .footer div {
    display: inline-block;
}

.article-wrapper .footer i{
    color:var(--primary-color);
    padding: 0 10px;
    font-size: 14px;
}

.article-wrapper .footer span{
    color:var(--secondary-color);
    font-size: 14px;
}