.container-fluid-custom {
    background-color: darkblue;
    color: var(--secondary-color);
    height: 40px;
}

.container-fluid-custom .contact {
    font-size: 15px;
}

.container-fluid-custom .contact i {
    color: var(--primary-color);
    margin-left: 10px;
    vertical-align: -8px;
}

.container-fluid-custom .contact span {
    color: var(--secondary-color);
    margin-left: 8px;
    vertical-align: 1.25px;
}

.container-fluid-custom .social-media {
    direction: ltr;
}

.container-fluid-custom .social-media a {
    color: var(--secondary-color);
    vertical-align: -10px;
    font-size: 20px;
}

.container-fluid-custom .social-media i {
    padding: 10px 5px;
    transition: background-color 0.5s;
}

.container-fluid-custom .social-media i:hover {
    background-color: var(--primary-color);
}