.section-title {
    text-align: center;
}

.section-title span::before {
    content: '';
    width: 30px;
    height: 3px;
    background-color: var(--primary-color);
    position: absolute;
    top: 12px;
    right: -37px;
    border-radius: 2px;
}

.section-title span::after {
    content: '';
    width: 30px;
    height: 3px;
    background-color: var(--primary-color);
    position: absolute;
    top: 12px;
    left: -37px;
    border-radius: 2px;
}

.card {
    box-shadow: 1px 1px 6px 1px var(--box-shadow-color);
}

.card-body {
    padding: 25px 10px 10px;
    background-color: var(--bg-card-body-color);
}

.card-body img {
    width: 35px;
    height: auto;
    filter: grayscale(0.7);
}

.card-body .course-title {
    top: 17px;
    right: 70px;
}

.card-body .course-title a{
    color:var(--secondary-color);
    font-size: 16px;
    transition: 0.5s ease-out;
}

.card-body .course-title a:hover{
    color:var(--hover-cousrse-title-link);
}

.card-body .course-title p{
    color:var(--primary-color);
    font-size: 14px;
}

.card-header{
    overflow: hidden;
}
.card-header .img-cover{
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35);
    top:-100%;
    right: 0;
    text-align: center;
    color: var(--secondary-color);
    transition: all 0.2s ease-in-out;
}

.card:hover .img-cover{
    top:0;
    right: 0;
}

.card-header .img-cover span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.img-background-course{
    background-image: url('../img/common_img.png');
    background-attachment: fixed;
}