.faq-container-wrapper {
    background-image: url('../img/faq-bg.jpg');
    background-size: 100% 100%;
}

.faq-container-wrapper .faq-right-side {
    background-color: #fff;
    box-shadow: 1px 1px 6px 1px var(--box-shadow-color);
    margin: 50px 25px 50px 25px;
    padding: 50px;
}

.faq-container-wrapper .faq-right-side h6 {
    font-size: 16px;
}

.faq-container-wrapper .faq-right-side h6 i {
    color: #6b6bff;
    font-size: 32px;
    margin-left: 16px;
    vertical-align: -7px;
    width: 32px;
    height: 32px;
}

.faq-container-wrapper .faq-right-side p {
    font-size: 14px;
    color: var(--box-shadow-color);
    margin: 5px 47px 0 0;
}

.faq-container-wrapper .faq-right-side ul li {
    margin: 30px 0;
}

.faq-container-wrapper .faq-left-side{
    margin: 50px 25px 50px 25px;
    box-shadow: 0px 0px 9px 1px var(--box-shadow-color);
}

.faq-container-wrapper .faq-left-side .tab .label{
    padding: 15px 10px;
    display: block;
    font-size: 17px;
    cursor: pointer;
    background-color: var(--primary-color);
    border-bottom: 1px solid #6e6e6e;
}


.faq-container-wrapper .faq-left-side .tab .label::after{
    content: '\276f';
    float: left;
    transition: 0.3s ease-out;
    font-size: 18px;
}

.faq-container-wrapper .faq-left-side .tab input:checked ~ .label::after{
    transform: rotate(-90deg);
}

.faq-container-wrapper .faq-left-side .tab-content{
    height: 0;
    transition: 0.3s ease-out;
    overflow: hidden;
    padding: 0 10px;
    font-size: 15px;
    line-height: 26px;
    background-color: #efefef;
}

.faq-container-wrapper .faq-left-side .tab input:checked ~ .tab-content{
    min-height: 30px;
    padding: 10px;
    display: table;
    text-align: justify;
    font-size: 15px;
    line-height: 26px;
    background-color: #efefef;
    width: 100%;
}

.faq-container-wrapper .faq-left-side input{
    display: none;
}