
.footer-container-wrapper {
    background-color: darkblue;
    font-size: 16px;
}

.footer-container-wrapper .footer-side-1 {
    color: var(--secondary-color);
    padding: 15px 10px;
}

.footer-container-wrapper .footer-side-1 i {
    color: rgb(208, 255, 0);
    font-size: 30px;
    transform: rotate(-15deg);
    padding-left: 10px;
    vertical-align: -6px;
}

.footer-container-wrapper .footer-side-1 a {
    color: var(--secondary-color);
    font-size: 14px;
}

.footer-container-wrapper .footer-side-1 p {
    font-size: 14px;
    margin-top: 15px;
    text-align: justify;
}

.footer-container-wrapper .footer-side-2 {
    color: var(--secondary-color);
    padding: 21px 10px;
}

.footer-container-wrapper .footer-side-2 h6 {
    font-size: 16px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 10px;
}

.footer-container-wrapper .footer-side-2 ul li::before {
    content: '\276f';
    padding-left: 5px;
    vertical-align: -2px;
    font-size: 14px;
}

.footer-container-wrapper .footer-side-2 ul {
    margin-top: 10px;
}

.footer-container-wrapper .footer-side-2 ul li {
    padding: 0 5px 10px 5px;
    transition: 0.5s;
}

.footer-container-wrapper .footer-side-2 ul li:hover {
    padding-right: 12px;
}

.footer-container-wrapper .footer-side-2 ul li a {
    font-size: 14px;
    color: var(--secondary-color);
    transition: 0.5s ease-out;
}

.footer-container-wrapper .footer-side-2 ul li a:hover {
    color: rgb(217, 255, 0);
}

.footer-container-wrapper .footer-side-3 {
    color: var(--secondary-color);
    padding: 21px 10px;
}

.footer-container-wrapper .footer-side-3 h6 {
    font-size: 16px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 10px;
}

.footer-container-wrapper .footer-side-3 ul {
    text-align: center;
    font-size: 22px;
    padding-top: 10px;
}

.footer-container-wrapper .footer-side-3 ul li {
    display: inline;
    padding: 10px 10px 0;
    
}

.footer-container-wrapper .footer-side-3 ul li a {
    color: var(--secondary-color);
    transition: 0.5s;
}

.footer-container-wrapper .footer-side-3 ul li a:hover {
    color: rgb(217, 255, 0);
}

.footer-container-wrapper .footer-side-3 form {
    margin-top: 25px;
    position: relative;

}

.footer-container-wrapper .footer-side-3 form input[type=email] {
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 2px;
}

.footer-container-wrapper .footer-side-3 form input[type=submit] {
    position: absolute;
    top: 0;
    left: 0;
    width: 74px;
    height: 41px;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    outline: none;
    border: none;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 2px 0 0 2px;
}

.footer-container-wrapper .footer-side-3 form input[type=submit]:hover {
    background-color: var(--hover-button-color);
}

.footer-container-wrapper .footer-side-4 {
    color: var(--secondary-color);
    padding: 21px 10px;
}

.footer-container-wrapper .footer-side-4 h6 {
    font-size: 16px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 10px;
}

.footer-container-wrapper .footer-side-4 span {
    display: inline-block;
    font-size: 14px;
    padding-top: 10px;
}

.footer-container-wrapper .footer-side-4 span:hover i {
    color:rgb(217, 255, 0) ;
    
}
.footer-container-wrapper .footer-side-4 i {
    font-size: 16px;
    padding-left: 15px;
    transition: 0.5s ease-out;
    vertical-align: -2px;
}

.footer-container-wrapper .copy-right{
    text-align: center;
    border-top:  1px solid rgba(255, 255, 255, 0.2);
    padding:15px;
    margin-top: 5px;
    color: var(--secondary-color);
    font-size: 14px;
}