.figure-header {
    position: relative;
}

.img-header {
    height: 89vh;
    display: block;
}

.overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.24);
    width: 100%;
    height: 89vh;
}

.header-title {
    max-width: 400px;
    padding: 20px;
    /* background-color: rgba(255, 255, 255, 0.301); */
    border-radius: 5px;
    margin-top: 300px;
    margin-right: 15%;
}

/* .header-title::after {
    content: " ";
    clear: both;
    display: table;
} */

.header-title a {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    padding: 5px 10px;
    border-radius: 5px;
    float: left;
    transition: background-color 0.25s;
}

.header-title a:hover {
    background-color: var(--hover-button-color);
}

@media only screen and (max-width:1200px){
    .overlay,.img-header{
        height: 100%;
    }

    .header-title {
        width: 100%;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.301);
        border-radius: 5px;
        margin: 0;
        top: 50%;
        left: 65%;
        transform: translate(-50%,-50%);
    }
}


@media only screen and (max-width:576px){
    .header-title {
        left: 50%;
        max-width: 576px;
    }

    .figure-header h1{
        font-size: 18px;
    }
    .figure-header h3{
        font-size: 14px;
    }
    .figure-header a{
        font-size: 14px;
    }
}