.navbar {
    background-color: #f7f7f7;
    overflow: hidden;
    position: sticky;
    top:0;
    box-shadow: 0px 1px 5px 1px rgb(214, 214, 214);
    z-index: 999;
}

.navbar .menu a {
    font-size: 15px;
    float: right;
    padding: 10px 16px;
    color: var(--third-color);
    border-bottom: 2px solid transparent;
    transition: border 0.5s ease-out;
}

.navbar .menu a:first-child {
    font-size: 25px;
    padding: 0 0 0 16px;
    vertical-align: -3px;
    color: var(--primary-color);
}


.navbar .menu a:not(:first-child):hover {
    border-bottom: 2px solid var(--primary-color);
}

.navbar .menu a.icon:hover {
    border-bottom: 2px solid transparent;
}

.navbar .menu .icon {
    display: none;
}

@media screen and (max-width:576px) {

    .navbar .menu a:not(:first-child) {
        display: none;
    }

    .navbar .menu a.icon {
        display: block;
        float: left;
        font-size: 25px;
        padding: 3px 16px 0 0;
        color: var(--primary-color);
    }

    .container {
        position: relative;
    }

    .navbar.responsive .menu .icon{
        position: absolute;
        top:0;
        left: 15px;
    }

    .navbar.responsive .menu a{
        float: none;
        display: block;
        text-align: center;
    }

    .navbar.responsive .menu a:first-child{
        text-align: right;
    }

    .navbar.responsive .menu a:nth-child(2){
        border-top: 1.25px solid rgb(218, 218, 218);
    }

}