.stat-wrapper{
    background-color: var(--primary-color);
    min-height: 250px;
}

.stat-wrapper .cell-stat{
    text-align: center;
    margin: 30px 0;
}

.cell-stat div{
    color: var(--secondary-color);
    margin: 37px 0;
}
