.teacher-wrapper {
    background-image: url('../img/e-bg.jpg');
}

.teacher-intro {
    width: 80%;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0 2px 6px 0 #dbdbdb;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

.teacher-intro h3 {
    margin-bottom: 80px;
}

.teacher-intro a {
    border: 2px solid var(--primary-color);
    padding: 5px 10px;
    color: var(--third-color);
    transition: 0.4s ease-out;
}

.teacher-intro a:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 5px;
}

@media only screen and (max-width:768px) {
    .teacher-intro h3 {
        font-size: 15px;
        margin-bottom: 50px;
    }

    .teacher-intro a {
        font-size: 14px;
    }
}