@import '_contact.css';
@import '_navbar.css';
@import '_header.css';
@import '_course.css';
@import '_about-us.css';
@import '_teacher_intro.css';
@import '_stat.css';
@import '_article.css';
@import '_faq.css';
@import '_footer.css';

@font-face {
    font-family: vazir-medium;
    src: url('../fonts/Vazir-Medium.eot') format('eot'),
        url('../fonts/Vazir-Medium.woff') format('woff'),
        url('../fonts/Vazir-Medium.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

:root {
    --primary-color: rgb(255, 166, 0);
    --secondary-color: #fff;
    --third-color: rgb(75, 75, 75);
    --hover-button-color: rgb(206, 134, 0);
    --bg-card-body-color: #720000;
    --box-shadow-color: #999999;
    --hover-cousrse-title-link: rgb(222, 226, 0);
}

